*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'IRANSans';
    src: url("../font/IRANSansWeb.eot");
    src: url("../font/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../font/IRANSansWeb.woff") format("woff"); }